# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\thinkforbl\Desktop\업무폴더\Datavoucher_2020\2020데이터바우처 관련파일\restapi_donghwa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
